@font-face {
    font-family: "Inter";
    src: url(./assets/font/Inter.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Inter";
    src: url(./assets/font/Inter-Italic.ttf);
    font-weight: normal;
}